body
{
	font: 12px "Lucida Grande", Arial, sans-serif;
	color: rgb(50, 50, 50);
	margin: 0;
	padding: 0 10px;
}

div#contextMenu
{
	width: 150px;
	height: 150px;
	background: yellowgreen;
	border: 1px solid gold;
	padding: 10px;
	position: absolute;
	left: 0;
	right: 0;
	display: none;
}
